body{
    height: 100%;
}

.header{
    background-color: lightgray;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} 

.header div{
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-content:space-between;

    min-height: 80vh;
    max-height: 120vh;  
    
}

.content div{
    width: 30%;
    border: lightslategray 1px solid;
    text-align: justify;
    margin: 5px 0px;
    padding: 5px;
}

.content div:nth-child(3n+1){
    order: 1;
}

.content div:nth-child(3n+2){
    order: 2;
}

.content div:nth-child(3n){
    order: 3;
}